<form [formGroup]="signUpForm" class="grid">
  <div class="col-12 md:col-12 lg:col-12 xl:col-12 row">
    <div
      class="
        col-9
        ml-6
        mr-6
        md:col-5 md:ml-6 md:mr-0
        lg:col-8 lg:ml-6 lg:mr-6
        xl:col-8 xl:ml-6 xl:mr-6
      "
    >
      <app-input
        [id]="'nomeFantasia'"
        [name]="'nomeFantasia'"
        [type]="'text'"
        [placeholder]="'Razao Social'"
        [parentForm]="signUpForm"
      ></app-input>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-12 xl:col-12 row">
    <div
      class="
        col-9
        ml-6
        mr-6
        md:col-5 md:ml-6 md:mr-1
        lg:col-4 lg:ml-6
        xl:col-4 xl:ml-6
      "
    >
      <app-input
        [id]="'cnpj'"
        [name]="'cnpj'"
        [type]="'text'"
        [placeholder]="'CNPJ'"
        [parentForm]="signUpForm"
      ></app-input>
    </div>
    <div
      class="
        col-9
        ml-6
        mr-6
        md:col-5 md:ml-1 md:mr-6
        lg:col-4 lg:mr-6
        xl:col-4 xl:mr-6
      "
    >
      <app-input
        [id]="'password'"
        [name]="'password'"
        [type]="'text'"
        [placeholder]="'Password'"
        [parentForm]="signUpForm"
      ></app-input>
    </div>
  </div>
  <div class="col-12 row">
    <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
      <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
        <p-button
          (click)="onSubmit()"
          label="Cadastrar"
          styleClass="p-button-secondary button-submit"
        ></p-button>
      </div>
    </div>
  </div>
</form>
<app-toast></app-toast>
