.container-input {
  padding: 0px;
}

::ng-deep p-inputmask {
  padding: 0px !important;
  
  input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}