<form [formGroup]="signUpForm" class="grid">
  <div class="col-12 md:col-12 lg:col-12 xl:col-12 row">
    <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
      <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
      <app-input
        [id]="'nome'"
        [name]="'nome'"
        [type]="'text'"
        [placeholder]="'Nome'"
        [parentForm]="signUpForm"
      ></app-input>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-12 xl:col-12 row">
    <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
      <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
        <app-input-mask
          [id]="'cpf'"
          [name]="'cpf'"
          [type]="'text'"
          [placeholder]="'CPF'"
          [parentForm]="signUpForm"
          [mask]="'999.999.999-99'"
        ></app-input-mask>
    </div>
  </div>
</div>
      <div class="col-12 md:col-12 lg:col-12 xl:col-12 row">
        <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
          <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
      <app-input
        [id]="'password'"
        [name]="'password'"
        [type]="'password'"
        [placeholder]="'Password'"
        [parentForm]="signUpForm"
      ></app-input>
    </div>
  </div>
</div>
  <div class="col-12 row">
    <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
      <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
        <p-button
          (click)="onSubmit()"
          label="Cadastrar"
          styleClass="p-button-secondary button-submit"
        ></p-button>
      </div>
    </div>
  </div>
</form>
<app-toast></app-toast>
