<p-table styleClass="table" [columns]="cols" [value]="items">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <label *ngIf="!col.isDate && !col.isDoc">{{ item[col.field] }}</label>
        <label *ngIf="col.isDate && !col.isDoc">{{
          item[col.field] | date: "dd/MM/yyyy"
        }}</label>
        <label *ngIf="!col.isDate && col.isDoc">{{
          item[col.field] | cpfcnpj
        }}</label>
      </td>
      <td>
        <p-button
          (click)="baixarReceita(item['hash'])"
          styleClass="button button--edit"
          pRipple
          icon="pi pi-download"
          class="p-button-rounded"
        ></p-button>
        <p-button
          *ngIf="item['status'] == 'Em analise'"
          (click)="showQrcode(item)"
          styleClass="button button--qrcode"
          pRipple
          icon="pi pi-globe"
          class="p-button-rounded"
        ></p-button>
      </td>
    </tr>
    <p-dialog
      [modal]="true"
      [header]="'QRCode'"
      [(visible)]="item['showQrcode']"
    >
    <qrcode
        [qrdata]="'Your data string'"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </p-dialog>
  </ng-template>
</p-table>
<app-toast></app-toast>
