@import "../../../../assets/colors";

section {
  min-width: 100%;
  bottom: 0%;
}

.footer {
  background-color: $color-blue-black;
  height: 60px;

  & > div {
    justify-content: end;
    display: flex;
  }
}