<form [formGroup]="signInForm" class="grid">
  <div class="col-12 md:col-12 lg:col-12 xl:col-12 row">
    <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
      <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
        <app-input-mask
          [id]="'cnpj'"
          [name]="'cnpj'"
          [type]="'text'"
          [placeholder]="'CNPJ'"
          [parentForm]="signInForm"
          [mask]="'99.999.999/9999-99'"
        ></app-input-mask>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-12 xl:col-12 row">
    <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
      <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
        <app-input
          [id]="'password'"
          [name]="'password'"
          [type]="'password'"
          [placeholder]="'Senha'"
          [parentForm]="signInForm"
        ></app-input>
      </div>
    </div>
  </div>
  <div class="col-12 row">
    <div class="col-9 ml-6 mr-6 md:col-10 lg:col-12 xl:col-12">
      <div class="col-12 lg:col-4 lg:col-offset-4 xl:col-4 xl:col-offset-4">
        <p-button
          (click)="onSubmit()"
          label="Logar"
          styleClass="p-button-secondary button-submit"
        ></p-button>
      </div>
    </div>
  </div>
</form>
<app-toast></app-toast>
